.forms {
  color: #fff;
  margin: 2rem 5rem 5rem;
  label,
  div {
    padding: 0.5rem;
    color: #fff !important;
  }
  .nome,
  .estoque,
  .descricao,
  .fileLabel,
  .submit {
    background-color: #000;
    border-radius: 10px;
    margin-bottom: 1.3rem;
    // border: 1px solid #fff;
    // border-radius: 5px;
  }
  .nome {
    width: 73%;
  }
  .estoque {
    //float: right;
    margin-left: 2%;
    width: 25%;
  }
  @media (max-width: 720px) {
    .nome {
      width: 49%;
    }
    .estoque {
      //float: right;
      margin-left: 2%;
      width: 49%;
    }
  }
  .descricao {
    width: 100%;
  }
  .file {
    display: none;
  }
  .fileLabel,
  .submit {
    color: #fff;
    cursor: pointer;
    padding: 1.2rem;

    &:hover {
      background-color: #fff;
      color: #000 !important;
    }
  }
  @media (max-width: 320px) {
    .fileLabel {
      padding: 0.2rem;
      font-size: 12px;
    }
  }
  .submit {
    margin-top: 2rem;
    border: none;
  }
}
.titulo {
  margin-left: 5rem;
}
